body {

    background-color:#E0D48A;
}

h1, h2, h3 {
	margin: 0;
}
#container {
    background-color: #E4ECFF;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

header {
   /* background-color: #CBDE50; */
	background-color: #D0EB8E;
    text-align: right;
    padding-right: 120px;
	height: 35%;
	padding-top: 50px;
	color: #69850E;
	border-radius: 25px 0px 0px 5px;
	margin-left: 10px;
	float: left;
	width: 60%;
	
    
}


aside {
	color: white;
	background-color:#FFAE65;
	float: right;
    width: 24%;
    height: 86px;
    padding-left: 6px;
    margin-right: 4px;
}
main {
    padding: 0px 10px 10px 10px;
}

nav {
    background-color: #FF9E4F;
	
	text-align: center;
	/*clear: both;  PENTRU A INCERCA ASEZAREA LA articol*/
	
	float: left;
    width: 75%;
	margin-right: 3px;
    
}

#stanga {
    width: 190px;
    background-color: #DEF1AF;
	float: left;
	height: 85%;
	margin-right: -6px;
        margin-left: 8px;
    margin-top: -50px;
}
article {
	float: left;
	width: 72%;
	border-left: 2px solid #8E8E8E;
	padding: 10px;
}

nav li {
    display: inline;
    width: 150px;
	margin-right: 30px;
    float: center;
    padding: 8px;
}

footer{
    background-color: #FF9E4F;
	clear: both;
	text-align: center;
	padding: 1px;
    
}

#meniu1 a:visited {
	color: mediumaquamarine;
}
#subscrib {
	width: 280px;
	background-color: #ECE3C2;
	float: left;
	margin-left: 25px;
	
}

#other {
	width: 280px;
	background-color: #ECE3C2;
	float: right;
	margin-right: 25px;
	border-left: 2px solid #8E8E8E;
	padding-left: 35px;
	
}

#block p {
	overflow: auto;
	padding-left: 15px;
    height: 110px;
}


#block h3 {
	background-color: #2DBB65;
	
}

#meniu1 h3 {
	background-color: #29BC75
}

#buton1 {
	clear: both;
    width: 100px;
    height: 30px;
    background-color: #BCD732;
    float: left;
    margin: 7px 15px 15px 25px;
    text-align: center;
    font-size: 12px;
    padding: 10px 0px 3px 0px;
}
/*     display: block;
    background-color: green;
    height: 35px;
    padding: 10px;
    border: solid blue;
    border-radius: 5px;
    margin-right: 115px;*/

aside {
	color: white;
	background-color:#FFAE65;
	float: right;

/*     display: block;
    background-color: green;
    height: 35px;
    padding: 10px;
    border: solid blue;
    border-radius: 5px;
    margin-right: 115px;*/

